<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> {{ recipe.title }} </title>
</head>

<body>
<h1>{{ recipe.title }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if recipe.yields %}
    <p>Yields: {{ recipe.yields }}</p>
{% endif %}
{% if recipe.has_parts %}
    <h2>Ingredients</h2>
    {% for ingredientpart in recipe.ingredients %}
        <h3>{{ ingredientpart.name }}</h3>
        <ul>
            {% for ingredient in ingredientpart.list %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    <h2>Instructions</h2>
    {% for steppart in recipe.instructions %}
        <h3>{{ steppart.name }}</h3>
        <ol>
            {% for step in steppart.list %}
                <li>{{ step }}</li>
            {% endfor %}
        </ol>
    {% endfor %}
{% else %}
<h2>Ingredients</h2>
<ul>
    {% for ingredient in recipe.ingredients %}
    <li>{{ ingredient }}</li>
    {% endfor %}
</ul>
<h2>Instructions</h2>
<ol>
    {% for step in recipe.instructions %}
    <li>
        {{ step }}
    </li>
    {% endfor %}
</ol>
{% endif %}

    <div id="changelog" style="display: none;">
    <h2>Changelog</h2>
    <ul>
        {% for change in recipe.changelog %}
        <li>
            Date: {{ change.date }}
            <ul>
                {% for comment in change.change %}
                <li>{{ comment }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    </div>

    <button onclick="changeLogButton()">Toggle changelog</button>

{#    <form action="{% url 'cookbook:' question.id %}" method="post">#}
{#        {% csrf_token %}#}
{#        {% for choice in question.choice_set.all %}#}
{#        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">#}
{#        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>#}
{#        {% endfor %}#}
{#        <input type="submit" value="Vote">#}
{#    </form>#}
<br>
<a class="button" href="{% url 'cookbook:download_yaml' recipe.pk %}">Download recipe yaml source</a>
<br>
<a class="button" href="{% url 'cookbook:download_tex' recipe.pk %}">Download recipe tex source</a>
<br>
<a class="button" href="{% url 'cookbook:download_pdf' recipe.pk %}">Download recipe PDF</a>
</body>

<script>
function changeLogButton() {
  var x = document.getElementById("changelog");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

</html>