<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cookbook index page</title>
</head>

<body>
{#    {% if recipe_list %}#}
    <ul style="list-style-type:none;">
        {% for recipe in object_list %}
        <li><a href="{% url 'cookbook:detail' recipe.slug %}">{{ recipe.title }}</a></li>
        {% endfor %}
    </ul>
{#    {% else %}#}
{#    <p>No recipes are available.</p>#}
{#    {% endif %}#}
    <p>Upload a new recipe here!</p>
    <form enctype="multipart/form-data" method="post" action="{% url 'cookbook:upload_recipe' %}">
        {% csrf_token %}
        <input type="file" id="recipefile" name="file">
        <input type="submit">
    </form>
    {% if upload_error != None %}
    <p>{{ upload_error }}</p>
    {% endif %}
</body>

</html>